apiVersion: v1
kind: Service
metadata:
  name: airflow-service
  labels:
    app: airflow
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 8080
    protocol: TCP
    name: http
  selector:
    app: airflow
    version: blue  # Inicialmente apunta a blue